body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}
.search{
   
    float: left;
    flex-wrap: nowrap;
    
}


img {
    width: 200px;
    height: auto;
}

.descrição {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.duração {
    width: 300px;
    margin-top: 25px;
    font-size: 10px;
}

.barra {
    width: 300px;
    height: 0.5px;
    border: 0.5px solid  #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

progress {
    height: 1px;
    width: 0;
    background-color: #333;
}

.ponto {
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;

}

.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

/*volume*/
.volume {
    width: 300px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}


/*volume*/
.player {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

div .botao-pause {
    display: none;
   

}

div .botao-play,
.botao-pause {
    font-size: 35px;
    cursor: pointer;
    color: #eee;
}

.setas {
    font-size: 15px;
    cursor: pointer;
    color: #eee;
}

.slider {
    
    background: #eee;
    outline: none;
    width: 50%;
    height: 2px;
    border-radius: 9px; 
    /* writing-mode: bt-lr; Define a escrita da base para o topo */
    /* transform: rotate(-90deg); Gira o elemento em sentido anti-horário */
    
    
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 

    background: #333;
    cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%; 

    background: #333;
    cursor: pointer;
}





